/* Common styles for both input classes */
.inputCommon {
  height: 2rem;
  border-radius: 0.35rem;
}

/* Red input */
.inputRed {
  border: 1px solid red;
  width: 100%; /* Take up full width */
}

/* Blue input */
.inputBlue {
  border: 1px solid #043e84; /* Fix border color */
  width: 100%; /* Take up full width */
  max-width: 23rem; /* Set a maximum width */
}

/* Focus styles for both inputs */
.inputBlue:focus,
.inputRed:focus {
  border: 1px solid red;
}

/* Responsive adjustments for small screens */
@media only screen and (max-width: 600px) {
  .inputBlue,
  .inputRed {
    width: 100%; /* Take up full width on small screens */
  }

  .f-name span {
    width: 100%; /* Take up full width on small screens */
    font-size: 1.5vw; /* Adjust the multiplier as needed */
  }
}
