.inputRed {
  border: 1px solid red;
  height: 2rem;
  border-radius: 0.35rem;
}

.inputBlue {
  border: #043e84;
  height: 2rem;
  width: 23rem;
  border-radius: 0.35rem;
}

.inputBlue:focus,
.inputRed:focus {
  border: 1px solid red;
  height: 2rem;
  width: 23rem;
  border-radius: 0.35rem;
}

.f-name span {
  color: red;
  background-color: rgb(255, 0, 0, 0.175);
  font-size: 0.65rem;
  text-align: left;
  padding-top: 0.15rem;
  margin: 0.25rem;
  width: 27%;
  height: 1rem;
}

